<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<div class="main-content">
  <div class="container mt-7">
      <br>
      <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
              <h3 class="mb-0 float-left">Tournaments</h3>
              <button type="button" class="btn btn-success btn-arrow-right float-right" (click)="goToCreate()">New</button>
          </div>
          <div class="table-responsive" style="overflow-y: hidden;">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Edition</th>
                  <th scope="col">Max teams</th>
                  <th scope="col">Winner</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of (tournaments | async)">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm text-truncate">{{t.edition}}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                      {{t.match_Count}}
                  </td>
                  <td *ngIf="t.winner">
                      {{t.winner}}
                  </td>
                  <td *ngIf="!t.winner">
                      To be determined
                  </td>
                  <td class="text-right">
                    <div ngbDropdown class="dropdown" style="position:static;overflow: visible;">
                      <a ngbDropdownToggle class="btn btn-sm btn-icon-only text-light" role="button" aria-expanded="false">
                        <mat-icon style="color: black;">more_vert</mat-icon>
                      </a>
                      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
                        <a ngbDropdownItem class="dropdown-item" (click)="goToEdit(t)" style="cursor: pointer;">Edit tournament</a>
                        <a ngbDropdownItem class="dropdown-item" (click)="openDeleteTournament(t, contentDeleteModel)" style="cursor: pointer;">Delete tournament</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="pageLoaded && tournamentsLength == 0" class="card-header border-0">
              <h3 class="float-left mb-3">Nothing found</h3>
            </div>
            <div *ngIf="!pageLoaded" class="mb-3 mt-3">
              <app-loading-spinner></app-loading-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Model -->
<ng-template #contentDeleteModel let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete Tournament</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <p>You are about to delete <span class="font-weight-bold">'{{currentTournament.edition}}'</span>, are you sure?</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-outline-primary" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-danger white" (click)="deleteTournament(currentTournament)">Delete</button>
  </div>
</ng-template>