<br>
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <form *ngIf="selectedTournament" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="edition">Edition</label>
            <input type="text" class="form-control" id="edition" placeholder="Edition" formControlName="edition">
            <small class="pl-1" *ngIf="!editForm.get('edition').valid && editForm.get('edition').touched">This edition is invalid!</small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Submit</button>
    </form>
</div>
