<div class="container">
    <div id="content" class="content p-0">
        <div class="profile-header" *ngIf="userLoaded">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
                <div class="profile-header-img mb-4">
                    <div style="width: 100%; height: 100%;">
                        <img [src]="selectedUser.imagePath" class="mb-4 image" alt="" style="width: 100%; height: 100%; object-fit: cover;"/>
                    </div>
                    <div *ngIf="selectedUser.userID == currentUser.userID" class="overlay" (click)="openProfilePictureModal(contentChangeProfilePictureModal)">
                        <a class="icon" title="Edit Profile Picture" style="cursor: pointer;">
                            <mat-icon>create</mat-icon>
                        </a>
                    </div>
                </div>
    
                <div class="profile-header-info" *ngIf="selectedUser != null">
                    <h4 class="m-t-sm">{{selectedUser.firstName}} {{selectedUser.lastName}}</h4>
                    <p class="m-b-sm">{{userBirthday}}</p>
                    <a *ngIf="selectedUser.userID == currentUser.userID" (click)="goToEdit(currentUser)" class="btn btn-xs btn-success mb-2">Edit profile</a>
                    <a *ngIf="selectedUser.userID != currentUser.userID" (click)="openChallengeUserModal(contentChallengeUserModal)" class="btn btn-xs btn-success mb-2 float-right">Challenge user</a>
                </div>
            </div>
    
            <ul class="profile-header-tab nav nav-tabs">
                <li class="nav-item"><a (click)="changeTab('profile-personal-statistics', 'link-personal-statistics')" style="cursor: pointer;" class="nav-link active show" data-toggle="tab" id="link-personal-statistics">PERSONAL STATISTICS</a></li>
                <li class="nav-item" *ngIf="selectedUser.userID == currentUser.userID"><a (click)="changeTab('profile-request-matches', 'link-request-matches')" style="cursor: pointer;" class="nav-link" data-toggle="tab" id="link-request-matches">REQUESTS</a></li>
                <li class="nav-item" *ngIf="selectedUser.userID == currentUser.userID"><a (click)="changeTab('profile-planned-matches', 'link-planned-matches')" style="cursor: pointer;" class="nav-link" data-toggle="tab" id="link-planned-matches">PLANNED</a></li>
                <li class="nav-item"><a (click)="changeTab('profile-history', 'link-history')" style="cursor: pointer;" class="nav-link" data-toggle="tab" id="link-history">HISTORY</a></li>
                <li class="nav-item"><a (click)="changeTab('profile-competitions', 'link-competitions')" style="cursor: pointer;" class="nav-link" data-toggle="tab" id="link-competitions">COMPETITIONS</a></li>
                <li class="nav-item"><a (click)="changeTab('profile-tournaments', 'link-tournaments')" style="cursor: pointer;" class="nav-link" data-toggle="tab" id="link-tournaments">TOURNAMENTS</a></li>
            </ul>
        </div>
    
        <div class="profile-container" *ngIf="userLoaded">
            <div class="row row-space-20">
                <div class="col-md-9">
                    <div class="tab-content p-0">
                        <div class="tab-pane fade active show" id="profile-personal-statistics">
                            <div class="m-b-10"><b>Personal Statistics</b></div>
                            <div class="row mx-auto">
                                <div class="container row p-5">
                                    <div class="progress mb-3" [attr.data-percentage]="wonPercent">
                                        <span class="progress-left">
                                            <span class="progress-bar border-success"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-success"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div>
                                                {{ selectedUser.timesWon }}<br>
                                                <span>Won</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress mb-3" [attr.data-percentage]="totalPercent">
                                        <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div>
                                                {{ totalGames }}<br>
                                                <span>Total</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress mb-3" [attr.data-percentage]="lostPercent">
                                        <span class="progress-left">
                                            <span class="progress-bar border-danger"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-danger"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div>
                                                {{ selectedUser.timesLost}}<br>
                                                <span>Lost</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-history" *ngIf="matchesLoaded">
                            <div class="m-b-10"><b>Matches ({{friendlyMatches1v1.length + friendlyMatches2v2.length}})</b></div>
                            <br>
                            <div class="m-b-10"><b>1v1 ({{friendlyMatches1v1.length}})</b></div>
                            <br>
                            <div class="row" *ngFor="let m of friendlyMatches1v1">
                                <div class="col">{{m.date.toString().substring(0, 10)}}</div>
                                <div class="col">{{m.player1.firstName}} {{m.player1.lastName}}</div>
                                <div class="col text-center">
                                    <div class="row">
                                        <div class="col">
                                            {{m.score1}} - {{m.score2}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col text-right">{{m.player3.firstName}} {{m.player3.lastName}}</div>
                                <div class="col text-right">{{m.matchStatus.statusName}}</div>
                            </div>
                            <br>
                            <div class="m-b-10"><b>2v2 ({{friendlyMatches2v2.length}})</b></div>
                            <br>
                            <div class="row" *ngFor="let m of friendlyMatches2v2">
                                <div class="col">{{m.date.toString().substring(0, 10)}}</div>
                                <div class="col">{{m.team1.teamName}}</div>
                                <div class="col text-center">
                                    <div class="row">
                                        <div class="col">
                                            {{m.score1}} - {{m.score2}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col text-right">{{m.team2.teamName}}</div>
                                <div class="col text-right">{{m.matchStatus.statusName}}</div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-request-matches" *ngIf="matchesLoaded && selectedUser.userID == currentUser.userID">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow">
                                        <div class="card-header border-0">
                                            <h3 class="mb-0 float-left">Requests ({{requestMatches.length}})</h3>
                                        </div>
                                        <div class="table-responsive" style="overflow-y: hidden;">
                                            <table class="table align-items-center table-flush">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Name user</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let m of requestMatches">
                                                        <th scope="row">
                                                            <div class="media align-items-center">
                                                                <div class="media-body">
                                                                    <span class="mb-0 text-sm text-truncate">{{m.player1.firstName}} {{m.player1.lastName}}</span>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <td>
                                                            {{m.date}}
                                                        </td>
                                                        <td class="text-right">
                                                            <div ngbDropdown class="dropdown" style="position:static;overflow: visible;">
                                                                <a ngbDropdownToggle class="btn btn-sm btn-icon-only text-light"
                                                                    role="button" aria-expanded="false">
                                                                    <mat-icon style="color: black;">more_vert</mat-icon>
                                                                </a>
                                                                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
                                                                    <a ngbDropdownItem class="dropdown-item" (click)="acceptMatch(m)" style="cursor: pointer;">Accept</a>
                                                                    <a ngbDropdownItem class="dropdown-item" (click)="declineMatch(m)" style="cursor: pointer;">Decline</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <!--Nothing found-->
                                                <div class="card-header border-0 mb-4" *ngIf="requestMatches.length == 0">
                                                    <h5 class="mb-0 float-left">Nothing found</h5>
                                                </div>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-planned-matches"  *ngIf="matchesLoaded && selectedUser.userID == currentUser.userID">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow">
                                        <div class="card-header border-0">
                                            <h3 class="mb-0 float-left">Planned ({{plannedMatches.length}})</h3>
                                        </div>
                                        <div class="table-responsive" style="overflow-y: hidden;">
                                            <table class="table align-items-center table-flush">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Name user</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let m of plannedMatches">
                                                        <th scope="row">
                                                            <div class="media align-items-center">
                                                                <div class="media-body">
                                                                    <span class="mb-0 text-sm text-truncate">{{m.player1.firstName}} {{m.player1.lastName}}</span>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <td>
                                                            {{m.date}}
                                                        </td>
                                                        <td *ngIf="m.matchStatusID == 5">
                                                          <span class="badge badge-dot mr-4">
                                                            <i class="bg-success"></i> {{m.matchStatus.statusName}}
                                                          </span>
                                                        </td>
                                                        <td *ngIf="m.matchStatusID == 6">
                                                          <span class="badge badge-dot mr-4">
                                                            <i class="bg-primary"></i> {{m.matchStatus.statusName}}
                                                          </span>
                                                        </td>
                                                        <td class="text-right">
                                                            <div ngbDropdown class="dropdown" style="position:static;overflow: visible;">
                                                                <a ngbDropdownToggle class="btn btn-sm btn-icon-only text-light"
                                                                    role="button" aria-expanded="false">
                                                                    <mat-icon style="color: black;">more_vert</mat-icon>
                                                                </a>
                                                                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
                                                                    <a *ngIf="m.matchStatusID == 6" ngbDropdownItem class="dropdown-item" (click)="startMatch(m)" style="cursor: pointer;">Start match</a>
                                                                    <a *ngIf="m.matchStatusID == 5" ngbDropdownItem class="dropdown-item" (click)="goToMatch(m)" style="cursor: pointer;">Match page</a>
                                                                    <a ngbDropdownItem class="dropdown-item" (click)="cancelMatch(m)" style="cursor: pointer;">Cancel match</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--Nothing found-->
                                            <div class="card-header border-0 mb-4" *ngIf="plannedMatches.length == 0">
                                                <h5 class="mb-0 float-left">Nothing found</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-competitions" *ngIf="matchesLoaded">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow">
                                        <div class="card-header border-0">
                                            <h3 class="mb-0 float-left">Competitions ({{competitions.length}})</h3>
                                        </div>
                                        <div class="table-responsive" style="overflow-y: hidden;">
                                            <table class="table align-items-center table-flush">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let c of competitions">
                                                        <th scope="row">
                                                            <div class="media align-items-center">
                                                                <div class="media-body">
                                                                    <span class="mb-0 text-sm text-truncate">{{c.name}}</span>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <td *ngIf="c.isActive">
                                                          <span class="badge badge-dot mr-4">
                                                            <i class="bg-success"></i> Active
                                                          </span>
                                                        </td>
                                                        <td *ngIf="!c.isActive">
                                                          <span class="badge badge-dot mr-4">
                                                            <i class="bg-danger"></i> Inactive
                                                          </span>
                                                        </td>
                                                        <td class="text-right">
                                                            <div ngbDropdown class="dropdown" style="position:static;overflow: visible;">
                                                                <a ngbDropdownToggle class="btn btn-sm btn-icon-only text-light"
                                                                    role="button" aria-expanded="false">
                                                                    <mat-icon style="color: black;">more_vert</mat-icon>
                                                                </a>
                                                                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
                                                                    <a ngbDropdownItem class="dropdown-item" (click)="goToCompetitionDetails(c)" style="cursor: pointer;">Competition details</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                             <!--Nothing found-->
                                             <div class="card-header border-0 mb-4" *ngIf="competitions.length == 0">
                                                <h5 class="mb-0 float-left">Nothing found</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-tournaments" *ngIf="matchesLoaded">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow">
                                        <div class="card-header border-0">
                                            <h3 class="mb-0 float-left">Tournaments ({{tournaments.length}})</h3>
                                        </div>
                                        <div class="table-responsive" style="overflow-y: hidden;">
                                            <table class="table align-items-center table-flush">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Edition</th>
                                                        <th scope="col">Max teams</th>
                                                        <th scope="col">Winner</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let t of tournaments">
                                                        <th scope="row">
                                                            <div class="media align-items-center">
                                                                <div class="media-body">
                                                                    <span class="mb-0 text-sm text-truncate">{{t.edition}}</span>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <td>
                                                            {{t.match_Count}}
                                                        </td>
                                                        <td *ngIf="t.winner">
                                                            {{t.winner}}
                                                        </td>
                                                        <td *ngIf="!t.winner">
                                                            To be determined
                                                        </td>
                                                        <td class="text-right">
                                                            <div ngbDropdown class="dropdown" style="position:static;overflow: visible;">
                                                                <a ngbDropdownToggle class="btn btn-sm btn-icon-only text-light"
                                                                    role="button" aria-expanded="false">
                                                                    <mat-icon style="color: black;">more_vert</mat-icon>
                                                                </a>
                                                                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
                                                                    <a ngbDropdownItem class="dropdown-item" (click)="goToTournamentDetails(t)" style="cursor: pointer;">Tournament details</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                             <!--Nothing found-->
                                             <div class="card-header border-0 mb-4" *ngIf="tournaments.length == 0">
                                                <h5 class="mb-0 float-left">Nothing found</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3 hidden-xs hidden-sm text-right" *ngIf="userLoaded">
                    <ul class="profile-info-list" *ngIf="selectedUser != null">
                        <li class="title">PERSONAL INFORMATION</li>
                        <li>
                            <div class="field">First name:</div>
                            <div class="value">{{selectedUser.firstName}}</div>
                        </li>
                        <li>
                            <div class="field">Last name:</div>
                            <div class="value">{{selectedUser.lastName}}</div>
                        </li>
                        <li>
                            <div class="field">Birthday:</div>
                            <div class="value">{{userBirthday}}</div>
                        </li>
                        <li *ngIf="userTeamsLoaded">
                            <div class="field">Teams:</div>
                            <div class="value" *ngFor="let team of userTeams"><a style="cursor: pointer;" (click)="goToTeamPage(team)">{{team.teamName}}</a> - {{team.companyName}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Model -->
<ng-template #contentChallengeUserModal let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Challenge user</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <p>You are about to challenge <span class="font-weight-bold">'{{selectedUser.firstName}} {{selectedUser.lastName}}'</span>, are you sure?</p>
      <form [formGroup]="challengeUserForm" (ngSubmit)="challengeUser()">
        <div class="form-group">
            <label for="tableID">Table</label>
            <select class="form-control" formControlName="tableID" id="tableID">
              <option *ngFor="let table of tables" [value]="table.tableID">{{table.tableName}}</option>
            </select>
            <small class="pl-1" *ngIf="!challengeUserForm.get('tableID').valid && challengeUserForm.get('tableID').touched">This table is invalid!</small>
          </div>
        <button [disabled]="challengeUserForm.invalid" class="btn btn-success" type="submit">Challenge</button>
    </form>
  </div>
</ng-template>

<!-- Model -->
<ng-template #contentChangeProfilePictureModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Change profile picture</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <button type="button" class="btn btn-success white" (click)="fileInput.click()">Choose File</button>
    <input hidden #fileInput type="file" id="file" (change)="setFilename(fileInput.files)"/> <br>
    <label>{{ filename }}</label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-success white" (click)="save(fileInput.files)">Save</button>
    </div>
  </ng-template>
<!--<h2>Team statistics</h2>
<hr>
<div class="row text-center">
    <p class="col-6"><mat-icon class="text-success">check_circle_outline</mat-icon> Total wins for team '...' : ..</p>
    <p class="col-6"><mat-icon class="text-danger">highlight_off</mat-icon> Total loses for team '...' : ...</p>
</div>-->