<div class="container pt-4">

<header *ngIf="userLoaded">
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
    </div>
</header>

<section>
    <div class="row ">
        <div class="col-md-4 mb-3">
            <div class="profile-card border shadow bg-white rounded">
                <div class="profile-header-info">
                    <div class="font-weight-bold">
                        Personal Information
                    </div>
                </div>
                <hr class="m-0">
                <div class="profile-info">
                    <mat-icon>account_circle</mat-icon> Firstname: {{ user.firstName }}
                </div>
                <div class="profile-info">
                    <mat-icon>account_circle</mat-icon> Lastname: {{ user.lastName }}
                </div>
                <div class="profile-info">
                    <mat-icon>mail_outline</mat-icon> Email: {{ user.email }}
                </div>
                <div class="profile-info">
                    <mat-icon>cake</mat-icon> Birthday: {{ userBirthday }}
                </div>
                <hr class="m-0">
                <div class="profile-info">
                    <mat-icon class="text-success">check_circle_outline</mat-icon> Won: {{ user.timesWon }}
                </div>
                <div class="profile-info">
                    <mat-icon class="text-danger">highlight_off</mat-icon> Lost: {{ user.timesLost}}
                </div>
                <hr>
                <div class="profile-header-info">
                    <div class="font-weight-bold">
                        Teams:
                    </div>
                </div>
                <hr>
                <ul>
                    <li *ngFor="let team of userTeams">{{team.teamName}} - {{team.companyName}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 mb-3">
            <div class="profile-content border shadow bg-white rounded" *ngIf="statisticsLoaded">
                <h2>Personal statistics</h2>
                <hr>
                <div class="row mx-auto">
                    <div class="container row p-5">
                        <div class="progress mb-3" [attr.data-percentage]="wonPercent">
                            <span class="progress-left">
                                <span class="progress-bar border-success"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar border-success"></span>
                            </span>
                            <div class="progress-value">
                                <div>
                                    {{ user.timesWon }}<br>
                                    <span>Won</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-3" [attr.data-percentage]="totalPercent">
                            <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <div class="progress-value">
                                <div>
                                    {{ totalGames }}<br>
                                    <span>Total</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-3" [attr.data-percentage]="lostPercent">
                            <span class="progress-left">
                                <span class="progress-bar border-danger"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar border-danger"></span>
                            </span>
                            <div class="progress-value">
                                <div>
                                    {{ user.timesLost}}<br>
                                    <span>Lost</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h2>Team statistics</h2>
                <hr>
                <!--ngfor door lopen-->
                <div class="row text-center">
                    <p class="col-6"><mat-icon class="text-success">check_circle_outline</mat-icon> Total wins for team '...' : ..</p>
                    <p class="col-6"><mat-icon class="text-danger">highlight_off</mat-icon> Total loses for team '...' : ...</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="main-content">
        <div class="mt-7">
            <br>
            <div class="row">

                <!--Table one-->
                <div class="col-6">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <h3 class="mb-0 float-left">Competitions</h3>
                        </div>
                        <div class="table-responsive" style="overflow-y: hidden;">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Table 2-->
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <h3 class="mb-0 float-left">Tournaments</h3>
                        </div>
                        <div class="table-responsive" style="overflow-y: hidden;">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

</div>