<div class="container pt-4">
    <br>
    <div class="container shadow-lg p-3 mb-5 bg-white rounded">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="tableName">Name</label>
                <input type="text" class="form-control" id="teamName" placeholder="Name" formControlName="teamName">
                <small class="pl-1" *ngIf="!createForm.get('teamName').valid && createForm.get('teamName').touched">This
                    team name is invalid!</small>
            </div>
            <div class="form-group">
                <label for="companyName">Company name</label>
                <input type="text" class="form-control" id="companyName" placeholder="Company Name"
                    formControlName="companyName">
                <small class="pl-1"
                    *ngIf="!createForm.get('companyName').valid && createForm.get('companyName').touched">This company
                    name is invalid!</small>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Location" formControlName="location">
                <small class="pl-1" *ngIf="!createForm.get('location').valid && createForm.get('location').touched">This
                    location is invalid!</small>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!createForm.valid">Submit</button>
        </form>
    </div>
</div>