<div class="row pt-5">
    <div class="col-12">
        <button class="btn btn-primary" (click)="onEditUser()">Edit</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <div class="card p-3" *ngIf="pageLoaded">
            <div class="alert" 
            [class.alert-success]="user.role.name == 'User'"
            [class.alert-warning]="user.role.name == 'Admin'"
             role="alert">
                This user is a {{ user.role.name }}
            </div>
            <div class="row">
                <h3 class="col">Firstname: {{ user.firstName }}</h3>
                <h3 class="col">Lastname: {{ user.lastName }}</h3>
            </div>
            <h6>Email: {{ user.email }}</h6>
            <h6>Birthdate: {{ user.birthDate | date }}</h6>
            <div class="row">
                <h6 class="col">Won: {{ user.timesWon }}</h6>
                <h6 class="col">Lost: {{ user.timesLost }}</h6>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-danger text-center mt-4" role="alert">
    <p>Warning: users that are deleted can not be recovered!</p>
    <button class="btn btn-danger" (click)="openDeleteModel(contentDeleteModel)">Delete User</button>
</div>

<!-- Model -->
<ng-template #contentDeleteModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete User</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>You are about to delete <span class="font-weight-bold">' {{ user.firstName }} {{ user.lastName }} '</span>, are you sure?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="cancelDelete()">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteUser()">Delete</button>
    </div>
</ng-template>