<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<div class="main-content">
    <div class="container mt-7">
        <br>
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0 float-left">Teams</h3>
                        <button type="button" class="btn btn-success btn-arrow-right float-right"
                            (click)="goToCreate()">New</button>
                    </div>
                    <div class="table-responsive" style="overflow-y: hidden;">
                        <table class="table align-items-center table-flush" matSort (matSortChange)="sortData($event)">
                            <thead class="thead-light">
                                <tr>
                                    <th mat-sort-header="teamName" scope="col">Team name</th>
                                    <th mat-sort-header="companyName" scope="col">Company name</th>
                                    <th mat-sort-header="location" scope="col">Location</th>
                                    <th mat-sort-header="captain" scope="col">Captain</th>
                                    <th mat-sort-header="teamStatus" scope="col">Join status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let t of (sortedTeams)">
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <span class="mb-0 text-sm text-truncate">{{t.teamName}}</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        {{t.companyName}}
                                    </td>
                                    <td>
                                        {{t.location}}
                                    </td>
                                    <td>
                                        {{t.captain.firstName}} {{t.captain.lastName}}
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4" *ngIf="t.teamStatusID==1">
                                            <i class="bg-success"></i> {{t.teamStatus.statusName}}
                                        </span>
                                        <span class="badge badge-dot mr-4" *ngIf="t.teamStatusID==2">
                                            <i class="bg-warning"></i> {{t.teamStatus.statusName}}
                                        </span>
                                        <span class="badge badge-dot mr-4" *ngIf="t.teamStatusID==3">
                                            <i class="bg-danger"></i> {{t.teamStatus.statusName}}
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <div ngbDropdown class="dropdown" style="position:static;overflow: visible;">
                                            <a ngbDropdownToggle class="btn btn-sm btn-icon-only text-light"
                                                role="button" aria-expanded="false">
                                                <mat-icon style="color: black;">more_vert</mat-icon>
                                            </a>
                                            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
                                                <a ngbDropdownItem class="dropdown-item" (click)="goToDetails(t)" style="cursor: pointer;">Team Page</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="!pageLoaded" class="mb-3 mt-3">
                            <app-loading-spinner></app-loading-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>