<br>
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="edition">Edition</label>
            <input type="text" class="form-control" id="edition" placeholder="Edition" formControlName="edition">
            <small class="pl-1" *ngIf="!createForm.get('edition').valid && createForm.get('edition').touched">This edition is invalid!</small>
        </div>
        <div class="form-group">
            <label for="table">Table</label>
            <select class="form-control" id="table" placeholder="Table" formControlName="table">
                <option *ngFor="let table of tables" [value]="table.tableID">{{table.tableName}}</option>
              </select>
            <small class="pl-1" *ngIf="!createForm.get('table').valid && createForm.get('table').touched">This table is invalid!</small>
        </div>
        <div class="form-group">
            <label for="match_Count">Max teams</label>
            <select class="form-control" id="match_Count" placeholder="Max teams" formControlName="match_Count">
                <option *ngFor="let numberTeams of numberOfTeams" [value]="numberTeams">{{numberTeams}}</option>
              </select>
            <small class="pl-1" *ngIf="!createForm.get('match_Count').valid && createForm.get('match_Count').touched">This max teams is invalid!</small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!createForm.valid">Submit</button>
    </form>
</div>
